footer{
    padding-top:5rem;
    padding-bottom: 1rem;
    background: #08385f !important;
    font-family: 'Oswald', sans-serif !important;
    color: white;
}

.footer-section .header{
    color: #E6B85C;
    padding-bottom: 7px;
}
.footer h5 {
    font-size: 2rem !important;
    color: beige;
}


/* footer .sitemap{
    border-left: 2px solid white;
} */

.nav-link-items{
    filter: brightness(200%);
    color: aliceblue;
    font-size: 14px;
    font-weight: 400;
}

.nav-link-items:hover{
    transform: scale(1.5);
    background-color: #12c373a2;
    transform: translateX(12px);
}

footer div.social-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}


.links{
    color: #eeeae2;
}
.links:hover{
    color: rgb(19, 180, 180);
    /* transform: translateX(12px); */
}